body {
	background-color: black;
}

@media all and (min-width: 480px){
	body {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCKbV24ga18bP0XAVCXwmYaZ6v_BEPauuG8eCcSg4H3cIkMcw5_A);
    }
}
div.kitten-gallery {
	float: left;