body {
	background-color: pink;
}
@media screen and (min-width: 480px){
	body {
    background-image: url(http://grza.net/GIS/Animals/Cats%20Kittens/Kitten%20Sleeping%20Satin.jpg);
    }
}
div.kitten-gallery {
	background-color
	float: left;
	}	;
}
